
.Rproj.user/7F89BD70/sources/prop/30E86FE1
.Rproj.user/7F89BD70/sources/prop/INDEX
.Rproj.user/7F89BD70/sources/s-C01E2B06/1B6C7BBE
.Rproj.user/7F89BD70/sources/s-C01E2B06/1B6C7BBE-contents
.Rproj.user/7F89BD70/sources/s-C01E2B06/lock_file
*.csv
*.csv
*.xlsx
