.Rproj.user/*
*.csv
*.xlsx
*.dta
*.fst
*.do
*.log
.Rproj.user
.Rhistory
_targets/*
data/*
documentation/
.Rprofile
*.Rproj
output/WK/Thumbs.db
output/WM/Thumbs.db
.vscode
_targets/meta/meta
_targets/.gitignore
_targets/objects/*
_targets/user/*
/_targets
